<h1> showing todo </h1>

<p>
name: <%= @todo.name %>
</p>
<p>
description: <%= @todo.description%>
</p>
<%= link_to "edit this todo", edit_todo_path(@todo) %> | 
<%= link_to "back to todos listing", todos_path %>